/* Home Page*/

body {
    padding-top: 40px;
}

hr {
    display: block;
    border-color: #D8D8D8;
    border-width: 1px;
    max-width: 100%;
    margin-top: 5px;
    margin-bottom: 20px;
}

h1 {
    font-family: 'Merriweather', serif !important;
    font-weight: 600px !important;
    margin-top: 50px auto !important;
}

h2 {
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    margin-top: 60px;
}

h3 {
    font-size: 22px;
    font-weight: 500;
    color: black;
    font-family: 'Merriweather', serif;
    margin-top: 20px !important;
    margin-bottom: 10px !important;
}

h4 {
    margin-top: 20px;
    padding-left: 0px;
    font-weight: 500;
    font-family: 'Roboto'sans-serif;
    text-decoration: underline;
}

h5 {
    font-size: 1.5em;
    margin-top: 30px;
    color: #5A5247;
    font-weight: 500;
}

h6 {
    color: #5A5247 !important;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;
    margin: 0%;
}

p {
    font-family: 'Open Sans', sans-serif;
    color: #262626;
    font-size: 14pt;
    margin: 20px, 0px !important;
}

p > span{
    font-family: 'Open Sans', sans-serif;
    color:black;
    font-size: 14pt;
    font-weight: 600;
    margin: 20px, 0px !important;
    text-decoration: underline;
}

.sm-txt{
    font-weight: 500;
    color: #262626;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    margin-top: 0%;
}



.navbar-toggler {
    border: 1px solid white;
}

.navbar-toggler-icon {
    color: white;
}

a {
    color: #ffffff;
}

.a2 {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color: #5A5247;
    font-size: 14pt;
}

ul {
    padding: auto 0px;
}

.btn {
    font-weight: 600 !important;
    color: #ffffff !important;
    background-color: #006284 !important;
    text-transform: uppercase;
    border: none;
    padding: 10px 30px;
    border-radius: 5px !important;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    opacity: 0.9;
}

.grey-icon{
    color: #262626;
}

.md-txt{
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 14pt;
    margin: 50px, 0px !important;
}

.md-txt-italy{
    color: #262626;
    font-family: 'Merriweather', serif;
}

.job-description{
    font-family: 'Open Sans', sans-serif;
    color: 262626;
    font-size: 12pt;
}

#exp-box{
    margin: 30px 0px;
    padding: 0px;
}

.container {
    padding: 0px;
}

.navbar-nav {
    flex-direction: jo;
}

.nav-item {
    padding-right: 10px;
}

.navbar {
    margin-right: 0px;
}

#navBottom .row {
    display: flex;
}

#navBottom a {

    color: white;
    font-family: 'Roboto', sans-serif;
    opacity: 0.95;
    font-weight: 700;
}





#mainNav {
    background-color: #006284;
}

.nav-item {
    font-size: 13px;
    /*padding-top: 5px;*/
}

#portfolio {
    color: white !important;
}

#logo {
    font-size: 20px !important;
    color: white;
    font-weight: 700;  
}

.navbar-shrink #logo {
    color: black;
}

ul.icons {
    padding: 0px !important;
    margin: 0px;
    color: black;
}


#navBottom {
    background-color: #006284 !important;
    height: 60px;
    color: white;
    opacity: 0.9;
}

#navBottom {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.portfolio-box {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

}

.project-name {
    color: #ffffff !important;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 20px;
}

.project-category{
    color: #ffffff !important;
    font-size: 14px;
    font-weight: 100;
    
}



/* about me */

#about{
    margin-top:50px;
}

#aboutMe img {
    margin: 20px;
    padding: 15px;
    width: 200px
}

.img-circle {
    border-radius: 100px;
}

#about-description-content{
    margin: 20px 0px;
}


/* Contact sectiom */

.content-header {
    font-family: 'Oleo Script', cursive;
    color: #006284;
    font-size: 45px;
}


#contact {

    font-family: sans-serif;
    padding-top: 60px;
    width: 100%;
    background: #fff;
    /* fallback for old browsers */
    background: #fff;
    /* Chrome 10-25, Safari 5.1-6 */
    background: #fff;
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #3a8fb7;
}

.section-header {
    color: #006284;
    margin-bottom: 20px;
}

.contact-section {
    padding-top: 40px;
}



.section-content {
    text-align: center;
}

.form-line {
    border-right: 1px solid #B29999;
}

.form-group {
    margin-top: 10px;
}



label {
    font-size: 1.3em;
    line-height: 1em;
    font-weight: normal;
}

.form-control {
    font-size: 1.3em;
    color: #080808;
}

textarea.form-control {
    height: 135px;
    /* margin-top: px;*/
}

.submit {
    font-size: 1.1em;
    float: right;
    width: 150px;
    background-color: transparent;
    color: #fff;
}

#contact {
    padding: auto 750px;
}


.blankSpace {
    height: 100px;
}


#to-top {
    bottom: 5px;
    right: 5px;
    background: black !important;
}

#wireframeBtn {
    background-color: #006284 !important;
    color: white !important;
    margin: 30px auto;
    padding: 20px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    vertical-align: middle;
    line-height: 1.5;

}

#prototypeBtn {
    background-color: #006284 !important;
    color: white !important;
    width: 80%;
    padding: 20px;
}

#prototypes {
    margin-top: 80px;
}

#footer {
    text-align: center;
    margin: 0px auto;
    padding: 20px;
    color: white;
    background-color: #006284;
    vertical-align: middle;
  
  }

  span{
      color:white;
      font-family: 'Open Sans', sans-serif;
      font-size: 12px;
  }
  
  .fa{
    vertical-align: middle;
  }

  .fa-linkedin-square.grey-icon {
      margin: 0rem;
  }
  .fa-linkedin-square{
      margin: 0px 20px;
  }


  #profilePic{
      width: 100%;
      /* height: 100px; */
  }

  .hvr-sweep-to-right {
      background-color: #ebecef;
      padding: 3px 5px;
      margin:3px;
      border-radius: 5px;
  }

  .next-project-section{
      background-color: #bdc8ce;
      padding: 70px;
      color: white;
  }

  .next-project{
    color:white;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
  }

  .next-project-name{
    color:white;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: 700;
    margin: 40px 0px;
  }

  .next-project-btn{
      width: 50px;
      height: 100%;
  }

  a:hover {
      text-decoration: none
  }

  a.grey-icon:hover {
    color:black;
}